<h2>Editar Desarrollador</h2>
<form [formGroup]="developerForm" (ngSubmit)="onSubmit()" class="form-container">
  <!-- Campo Nombre -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <!-- Campo Correo -->
  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput formControlName="correo" type="email" />
  </mat-form-field>

  <!-- Campo Rol -->
  <mat-form-field appearance="outline">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="rol">
      <mat-option *ngFor="let rol of roles" [value]="rol.id">
        {{ rol.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Botones -->
  <div>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
