.centered-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 60vh;        
  }
  
  .form-background {
    background-color: #f5f5f5; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;          
    width: 100%;               
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px; 
    margin-left: 90px;
    gap: 12px;
  }

  .form-row {
    display: flex;
    align-items: center;
  }
  
  .container {
    max-width: 500px; 
    margin: 0 auto;
  }
  