/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-background {
    background-color: #f5f5f5; // Ajusta este color según tus preferencias
    padding: 20px;
    border-radius: 8px;
  }
  
